

body {
  background-color: #264653;
  border-style: dashed solid;
  height: 75%;
  width: 25%;
  margin-top: 5%;
  margin-bottom: 30px;
  margin-left: 35%;
  margin-right: 35%;
  border-width: 5px;
  place-items: center;
}

button {
  background-color: #0de789;
  border: black;
  color: #3e4e50;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 12%;
  position: absolute;
  top: 50%;
  left: 50%;
}
.zuc {
  border: white solid 2px;
  padding: 5px;
  }

div{
  padding: 5px;
}

#frogge {
  width: 50%;
  -webkit-box-reflect: right;
}

#zuck {
  width: 50%;
  -webkit-box-reflect: right;
}

ol {
  color: #0de789;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

#theHead {
font-size: 40px;
padding: 5px;
text-align: center;
}

#top10 {
  text-align: center;
  padding: 10px;
}

#top10 ol {
  padding: 2px;
}
